@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

body{
    background: linear-gradient(90deg, #8c44ba 35%, white 0);
}

.lado{
    margin: 25% 0;
}

#lista-livro{
    align-items: center;
    margin-top: 22%;
    margin-left: 5%;
}

#item-livro{
    width: 300px;
}

#item-livro a{
    list-style: none;
    text-decoration: none;
    font-weight: 550;
    color: #380d53;
    font-family: 'Fredoka One', cursive;
}

#caps-lidos{
    float: right;
    padding: 3px;
    color: white;
    font-weight: 600;
    font-style: italic;
    background-color: #718096;
    font-family: 'Fredoka One', cursive;
}



@media (min-width: 576px) and (max-width: 767.98px) {
    body{
        background: linear-gradient(#8c44ba 35%, white 0);
    }
    .nova{
        margin: 0 0 1% 18%;
    }
}


/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) {
    .lado p{
        font-size: 0.8em;
    }
    .lado h3{
        font-size: 1.5em;
    }

    .nova{
        margin: 0 0 1% 30%;
    }
}

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) {
    .nova{
        margin-left: 50%
    }
}

/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {

}
